  <div class="col-lg-12 mt-5">

    <h1 class="text-center">Ubah Informasi Kamar</h1>

    <div class="col-md-12">
        <form action="/admin/ubah/kamar" method="post">
          <input type="hidden" name="_id" value="{{value._id}}">
          <div class="form-group">
            <input type="text" name="no" class="form-control" placeholder="nomor kamar..." value="{{value.no}}">
        </div>
        <div class="form-group">
            <input type="number" name="jumlah_kasur" class="form-control" placeholder="jumlah tempat tidur..." value="{{value.jumlah_kasur}}">
        </div>
        <div class="form-group">
            <input type="text" name="fasilitas_kamar" class="form-control" placeholder="fasilitas kamar..." value="{{value.fasilitas_kamar}}">
        </div>
        <div class="form-group">
            <input type="text" name="harga" class="form-control" placeholder="harga kamar..." value="{{value.harga}}">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Ubah</button>
        </div>
    </form>
</div>

</div>